@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

#storybook-root {
  width: 100%;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
  max-height: calc(100vh - var(--navbar-height));
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;

  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);

  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);

  /* color of the scroll thumb */
  border-radius: 20px;

  /* roundness of the scroll thumb */
  border: 2px solid var(--primary-color);

  /* creates padding around scroll thumb */
}
