.button {
  cursor: pointer;
  padding: 10px 15px;
}

.filled {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

.outlined {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.transparent {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
}
