.ArticleList.TILE {
    &>div {
        padding: 20px 20px 20px 45px;
    }
}

.ArticleListSkeletons {
    margin-top: 20px;
}

.TILE {
    .virtuoso-grid-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 15px;
    }

}

.LIST {
    [data-test-id="virtuoso-item-list"] {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    [data-viewport-type="element"] {
        padding: 20px 20px 20px 45px;
    }

}

.header {
    margin-bottom: 16px;
}

.listComponents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;


}