.dropdown {
    position: relative;
}

.button {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.list {
    background: var(--card-bg);
    position: absolute;
    z-index: 999999999;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.listItem {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
    border-radius: 8px;
}