.applink {
  color: var(--primary-color);

  &.primary {
    color: var(--inverted-primary-color);
  }

  &.secondary {
    color: var(--inverted-secondary-color);
  }

  &:hover {
    opacity: 0.8;
  }
}
